*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px 100px;
    background-color: rgba(249, 74, 61, 0.07);
}

.nav{
    width: 100%;
    display: flex;
    
    align-items: center;
    padding: 30px 0px;
    position: sticky;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    color: rgba(33, 34, 68, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    
}
.search-container{
    padding:10px;
    border: 1px solid black;
    background-image: url('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-512.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right center;
    padding-right: 45px;
    border: 1px solid rgba(105, 105, 123, 0.1);
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: rgba(105, 105, 123, 1);
box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
margin-left: 200px;
margin-right: 10px;

}
.bell{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/16/17/41/bell-1096279_1280.png');
    border:1px solid rgba(35, 35, 35, 1);
    width: 16.3px;
height: 18.48px;
top: 44.52px;
left: 1535px;
border: 1px;
margin-right:1px;
}
.D{
    font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 28px;
letter-spacing: -0.01em;
text-align: center;
color: rgba(255, 255, 255, 1);
width: 31px;
height: 30px;
top: 36px;
left: 253px;
border-radius: 7px;
background-color: rgba(249, 74, 61, 1);
margin-right: 5px;

}
.logo{
    color: #F94A3D;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-right: 200px;
}

.signin{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.01em;
text-align: center;
color: rgba(255, 255, 255, 1);
background-color: rgba(249, 74, 61, 1);
width: 109px;
height: 40px;
top: 31px;
left: 1583px;
border-radius: 10px;
border:0px;
}

.info p{
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: rgba(249, 74, 61, 1);
width: 153px;
height: 16px;
top: 263px;
left: 276px;
border: 1px solid rgba(253, 236, 236, 1);
margin-right:5px;
}
.info p img{
    width: 11.44px;
height: 14.77px;
top: 258.8px;
left: 462.24p;x
opacity: 0.19px;
angle: -34.49 deg;

}
.info h2{
    width: 524px;
height: 210px;
top: 304px;
left: 254px;
font-family: Poppins;
font-size: 60px;
font-weight: 600;
line-height: 70px;
letter-spacing: 0em;
text-align: left;

}
.info div{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
width: 520px;
height: 96px;
top: 531px;
left: 254px;
color: rgba(105, 105, 123, 1);

}
.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 100px;
    align-items: center;
    justify-content:space-between;
    width: 100px;
}
.content .content-left{
display: block;
width: 100px;
}
.content. .content-left .info{
    max-width: 100px;
    dispaly:flex;
    flex-direction: column;
}
.content .content-left button{
    color: rgba(246, 246, 246, 1);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: center;
    background: rgba(249, 74, 61, 1);
    width: 174px;
    height: 60px;
    top: 660px;
    left: 254px;
    border-radius: 16px;
     margin-top: 20px;  
     border: 0px; 
}
.content .content-right{
    display: block;
    width: 856px;
height: 764px;
top: 97px;
left: 878px;

}
.content .content-right img{
    width:500px;
    height: auto;
    position: relative;
    margin-left: 600px;
margin-top: 20px;
margin-bottom: 0px;
}

.category{
    width:100%;
    display:flex;
    margin-bottom:50px;
    justify-content: center;
    background-color: white;
}
.category .list-items{
    width:90%;
    position: relative;
    outline: 2px solid #faad96;
    background-color: #ffffff;
    padding: 10px;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
}
.category .list-items img{
    width: 200px;
height: auto;
display: block;
object-fit: cover;
object-position: center;
background-repeat: no-repeat;
position: absolute;
box-shadow: 0 20px 20px #faad96;
border-radius: 50%;
bottom: 140px;
left:50px;
}
.category .list-items .content p{
    font-family: Poppins;
    font-size: 30px;
    color: rgba(33, 34, 68, 1);
    width: 320px;
    margin-top: 0px;
    padding: 40px 0 10px;
}
.heading{
    font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
color: rgba(33, 34, 68, 1);
text-align: center;

}
.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 30px 0px;
    position: sticky;
}
    
}
.navbar ul li{
    align-items: center;
    padding: 30px 0px;
    position: sticky;
    margin-right;10px;
    color: rgba(33, 34, 68, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: .content;
    text-decoration: none;
    
}
} 
}